name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:

  build-docker:

    runs-on: ubuntu-latest

    steps:
    - name: checkout Code
      uses: actions/checkout@v4
      
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag lidor-python-sce:$(date +%F)-${{ github.run_number }}
